<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="6" name="Test">
    <classes>
      <class name="TestCases._6_CheckoutCompletePageTest"/>
      <class name="TestCases._5_CheckoutPage2Test"/>
      <class name="TestCases._3_CartPageTest"/>
      <class name="TestCases._4_CheckoutPage1test"/>
      <class name="TestCases._1_LoginPageTest"/>
      <class name="TestCases._2_InventoryPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
